.App {
    padding: 15px;
    background: rgb(0, 202, 135);
    text-align: center;
}

.components {
    margin: 0 auto;
}

.grid {
    margin: 25px auto;
    width: 100%;
    line-height: 0;
}

.cell {
    display: inline-block;
    border: 1px solid darkslategray;
    width: 15px;
    height: 15px;
}

.cell:hover {
    background: rgb(197, 151, 151);
}

.dead {
    background-color: lightgoldenrodyellow;
}

.alive {
    background-color: rgb(84, 114, 204);
}